/* CONTENT */
#content{
    display: flex;
    justify-content: center;
}

#content div{
    padding: 1rem;
}





/* CAIXA DE TEXTO */
#textBox{
    /* text-align: left; */
    display: flex;
}
#textBox input{
    height: 25vh;
    width: 40vw;
    margin-left: 1rem;
}

.caixa-imprime{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#caixa{
    background: white;
    border: 2px solid rgba(0, 0, 0, 0.301);
    height: 20vh;
    width: 40vw;
    margin: 1rem;
}